
<nav class="ui inverted menu"  style="position: fixed" >
    <header class="ui header item">  Shipyard Technology Ventures</header>

    <div class="right menu">
        <a id="dashboard1" class="item" href="/dashboard"> Stock Watch </a>
        <a id="logout" class="ui icon item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>

