<section class="ui basic segment" style="margin-left: 10%" >
      <p style="font-size: 3em;">
        Welcome to BigBank  <br>  Wealth Management System <br>
      </p>
      <p style="font-size: 2em;">
        Sign up today and Follow your way to success <br> as you track your stock portfolio and monitor <br> securities of interest with a single click of a button
      </p>

</section>