<section class="ui basic segment" style="font-size: 3em; ">
      <p>
        Welcome to BigBank Wealth Management System <br><br>
        Sign up today and Follow your way to success as you track your stock portfolio and monitor securities of interest with a single click of a button
      </p>

</section>