<nav class="ui menu">
    <header class="ui header item"> <a href="/"> Big Bank </a></header>
    <div class="right menu">
        <a id="dashboard1" class="item" href="/dashboard"> Stocks Watch </a>
        <a id="dashboard1" class="item" href="/dashboard/showallstocks"> All Stocks </a>
        <a id="logout" class="ui icon item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>

