<form id="searchForm" class="ui form" action="/search" method="POST">
  <div class="ui fluid action input" >
    <input type="text" id="search" placeholder="Search..." name="search" value="{{value}}" style="z-index: 1; margin-right: -1em; padding-right:200px;color: black" >
    <a><button class="ui right attached submit button" style="z-index: 2">&nbsp;&nbsp;&nbsp;&nbsp;Search&nbsp;</button></a>
  </div>
</form>
<script>
  function clear(){
  let value = document.getElementById('search').value;
  value="";
    window.location=/search;
  }
</script>
