<section  class="ui grid">
  <div class = "three wide column left aligned middle aligned">
  </div>
  <div class = "ten wide column center aligned middle aligned">
    <h1> Welcome to Stock Watch {{user.firstName}}</h1>
    <hr>
    <h2>To begin please search for stocks in the search menu</h2>
    <h2>Press the &nbsp; <button class = "ui button">Follow</button>button to begin following</h2>
    <h2>You're all set to to track your stocks and securities</h2>
  </div>
</section>
