{{> menu id="stocksList"}}
<section class = "ui container">

  {{#if showSearch}}
    <br>
    <br>
  <section class = "ui segment inverted raised" style="opacity: 0.9">
    {{> listAllStocks}}
  </section>
    {{/if}}
  <br>
  <br>
  <section class = "ui segment inverted raised" style="opacity: 0.9">
  <h1>{{user.firstName}}'s Stocks List</h1>
      {{>userStocks}}
  </section>
</section>
