{{> menu id="stocksList"}}
<section class = "ui container" style="min-width:80%; min-height:60% ">

  {{#if showSearch}}
    <br>
    <br>
  <section class = "ui segment inverted raised" style="opacity: 0.9">
    {{> listAllStocks}}
  </section>
  {{/if}}
  {{#if apiCallsDepleted}}
    <br>
    <br>
    <section id="apiCall" class = "ui segment inverted raised" style="opacity: 0.9">
      {{> apiCalls}}
    </section>
    {{/if}}
  <br>
  <br>
  <section class = "ui segment inverted raised" style="opacity: 0.9">
  <h1>{{user.firstName}}'s Stocks List</h1>
      {{>userStocks}}
  </section>
</section>
