{{> indexMenu id='login' }}

    <script>
        $("#").addClass("active item");
    </script>
  <section class="ui section" style="background-image: url(https://ak.picdn.net/shutterstock/videos/26649280/thumb/1.jpg);background-size: 100% 100%; margin-top:-1em; opacity:0.7">
    <br>
    <div class="ui basic middle aligned segment" style="height: 50%" >
        {{> intro}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
  <section class="ui container">
    <br>
    <br>
    <br>
      <div class="" id="signup">
        <br>
        {{> signup}}
      </div>
    <br>
    <br>
      <div class="" id="login">
        <br>
        {{> login}}
      </div>

  </section>