<section class="ui container">
    {{> indexMenu id='login' }}

    <script>
        $("#").addClass("active item");
    </script>
    <div class="ui two column middle aligned grid basic segment">
        <div class="column">
            <h1 class="ui header">
                Wealth Management program
            </h1>
            <p>
                Welcome to BigBank Wealth Management program, track your stock portfolio
            </p>
        </div>
        <div class="column">
            <img class="ui image" src="https://g.foolcdn.com/editorial/images/598733/why-stock-is-up.jpg">
        </div>
    </div>
</section>