{{> indexMenu id='login' }}
<section class="ui container" >
    <script>
        $("#").addClass("active item");
    </script>
  <section class="ui container" >
    <br>
    <div class="ui basic middle aligned segment">
        {{> intro}}
    </div>
  </section>
  <section class="ui container">
    <br>
    <div class="ui two column grid basic middle aligned segment">
      <div class="column" id="signup">
        {{> signup}}
      </div>
      <div class="column" id="login">
        {{> login}}
      </div>
    </div>
  </section>
</section>
